.content{
    width: 100%;
    max-width: 1080px;
    color: white;
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    align-items: center;
}
.abt-header{
    font-size: 30px;
    margin-bottom: 20px;
}
.about-info{
    background: rgba(5, 1, 43, 0.719);
    padding: 20px;
    border-radius: 20px;
    
}
.about-info>ol{
    list-style: circle;
    margin: 5px;
}
.about-info>ol>li{
   margin-top: 20px;
}
